<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: head}">
</head>
<body>
    <!--HEADER-->
    <nav th:replace="~{base :: header}"></nav>
    <!--/HEADER-->
    
    <!--CONTEUDO-->
    <div class="container">
        <div class="row mt-5">
            <!--FILTRO-->
            <div class="col-3 border">
                <div class="d-flex justify-content-between p-1">
                    <span class="fs-4 fw-bold text-warning">Filtrar por:</span>
                    <a href="http://localhost:8080/home" class="link-primary text-decoration-none mt-2"><small>Limpar filtros</small></a>   
                </div>     
                <div class="form-group">
                    <span class="h6 fw-bold">Categorias:</span>
                    <ul>
                        <li>
                            <!-- <input type="radio" name="opCategoria" value="mercearia">
                            <label>Mercearia</label> -->
                            <a th:classappend="${produtos} == 'mercearia' ? 'active'" class="nav-item nav-link" href="http://localhost:8080/home/mercearia">Mercearia</a>
                        </li>
                        <li>
                            <input type="radio" name="opCategoria" value="lacteo">
                            <label>Lácteo</label>
                        </li>
                        <li>
                            <input type="radio" name="opCategoria" value="acougue e peixaria">
                            <label>Açougue e Peixaria</label>
                        </li>
                    </ul>
                    <button class="btn btn-warning">Filtrar</button>
                </div>
                <label for="customRange2" class="form-label mt-5 fw-bold">Algo aqui:</label>
                <input type="range" class="form-range" min="0" max="5" id="customRange2"> 
            </div>
            <!--/FILTRO-->
            <!--PRODUTOS-->
            <div class="col-9">
                <div class="container">
                    <div class="text-center"> <span class="h1 text-warning fw-bold" >Mercearia</span> </div>
                    <hr>
                    <div class="row">
                        <div class="col-4 mb-2" th:each="produto : ${produtos}">
                            <div class="card w-80 shadow">
                                <div class="container text-center">
                                    <img class="card-img-top img-responsive img-rounded imagem"   th:src="${produto.imgProduto}"/>
                                </div>
                                <div class="card-body border">
                                    <h6 class="fw-bold text-muted" th:text="${produto.fornecedor}">Nestle</h6>
                                    <span class="text-muted fs-6" th:text="${produto.nomeProduto}">Choc kit kat ao leite</span>
                                    <p class="text-muted fs-6">450g</p>
                                    <p class="h6 fs-6" th:text="${'R$ ' + #numbers.formatDecimal(produto.valorProduto,2,2,'COMMA')}">R$ 7,90</p>
                                    <div class="container text-center"><a href=""><button class="btn btn-outline-warning">Adicionar</button></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/PRODUTOS-->
        </div>
    </div>
    <!--/CONTEUDO-->
</body>
</html>